.idea
build
vendor
release
CWAGENT_VERSION
.DS_Store
.vscode
*.iml
.terraform.*
terraform.*
**/.terraform/*
coverage.txt
yarn.lock
package-lock.json
integration/generator/resources/*complete*.json
node_modules