Section: admin
Depends: libc6
Priority: optional
Copyright: MIT License. Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
Maintainer: Amazon.com, Inc.
Description: Amazon CloudWatch Agent

