.navbar{
    background-color:#cd2464;
    height: 10%;
    margin-top: 0px;
    font-size: x-large;
    text-align: left;
    width: 100%;
    color: aliceblue;
    
}
.navbar ul{
    display: flex;
    width: 60%;
}
.navbar ul li{
    list-style: none;
    padding: 2%;
    display: flex;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    padding-top: 12%;
    padding-bottom: 12%;
    vertical-align:middle;
    display: flex;
}
.navbar svg{
    margin: 3%;
    width: 100%;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.right{
    position: absolute;
    right: 0%;
    justify-content: center;
}
.sync_info{
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 30px;
    right: 0px;
    
}
.sync_info > label{
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    padding: 4%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: gray;
    border-radius: 100px;
    text-align: center;
    justify-content: center;
    font-size: large;
    border: solid #008008 1px;
    cursor: pointer;
    
}
