body{
    --fontSize:12px;
    --h2fontSize: 20px;
    --h3fontSize: 16px;
}
.homepage{
    /* background-color: aqua; */
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.homepage h2{
    text-align: center;
    font-size: var(--h2fontSize);
    padding: 2%;
}
.homepage h3{
    font-size: var(--h3fontSize);
}
.homepage section{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.homepage section>p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-size: var(--fontSize);
}