body{
    --fontSize:12px;
    --h2fontSize: 20px;
    --h3fontSize: 16px
}
.wiki_page {
    text-align: center;
    list-style-type: circle;
}
.wiki_page section{
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    text-align: left;
}
.wiki_page h3 {
    padding: 2%;
    padding-left: 0%;
    font-size: var(--h3fontSize);
}
.wiki_page h4{
    padding: 0.5%;
    font-size: 24px;
}

.wiki_page h2{
    margin-top: 2%;
    font-size: var(--h2fontSize);
}

.wiki_page p{
    padding: 0.5%;
    font-size: var(--fontSize);
}

.container{
    display: flex;
}
.index{
    flex: 15%;
    border-right: 1px solid #000;
    justify-content: center;
    /* margin-top: 3%; */
    width: 10%;
    padding: 4%;
    font-size: large;
}
.index .static{
    left: 0px;
    top: 22%;
    position: fixed;
}
.index ul{
    text-align: left;
}
.index li{
    list-style-type: disc;
    padding: 3%;
    width: 100%;
}
.index li:hover{
    color: blue;
    cursor: pointer;

}

.content{
    flex:90%;
    position: relative;
}