connectors: {}
exporters:
  awscloudwatchlogs/emf_logs:
    certificate_file_path: "/etc/test/ca_bundle.pem"
    emf_only: true
    endpoint: "https://fake_endpoint"
    imds_retries: 1
    local_mode: false
    log_group_name: emf/logs/default
    log_retention: 0
    log_stream_name: host_name_from_env
    max_retries: 2
    no_verify_ssl: false
    num_workers: 8
    proxy_address: ""
    raw_log: true
    region: us-east-1
    request_timeout_seconds: 30
    resource_arn: ""
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_elapsed_time: 5m0s
      max_interval: 30s
      multiplier: 1.5
      randomization_factor: 0.5
    role_arn: ""
    sending_queue:
      queue_size: 1000
    profile: ""
    shared_credentials_file: []
  awsemf/containerinsights:
    namespace: ContainerInsights
    log_group_name: '/aws/containerinsights/{ClusterName}/performance'
    log_stream_name: '{NodeName}'
    log_retention: 0
    detailed_metrics: false
    dimension_rollup_option: NoDimensionRollup
    disable_metric_extraction: true
    version: "0"
    eks_fargate_container_insights_enabled: false
    certificate_file_path: "/etc/test/ca_bundle.pem"
    endpoint: "https://fake_endpoint"
    enhanced_container_insights: false
    imds_retries: 1
    local_mode: false
    retain_initial_value_of_delta_metric: false
    parse_json_encoded_attr_values: [ Sources, kubernetes ]
    max_retries: 2
    resource_to_telemetry_conversion:
      enabled: true
    metric_declarations:
      # pod metrics
      - dimensions: [ [ ClusterName, Namespace, PodName ], [ ClusterName ], [ ClusterName, Namespace, Service ], [ ClusterName, Namespace ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - pod_cpu_utilization
          - pod_memory_utilization
          - pod_network_rx_bytes
          - pod_network_tx_bytes
          - pod_cpu_utilization_over_pod_limit
          - pod_memory_utilization_over_pod_limit
      - dimensions: [ [ ClusterName, Namespace, PodName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - pod_number_of_container_restarts
      - dimensions: [ [ ClusterName, Namespace, PodName ], [ ClusterName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - pod_cpu_reserved_capacity
          - pod_memory_reserved_capacity
      # node metrics
      - dimensions: [ [ ClusterName, InstanceId, NodeName ], [ ClusterName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - node_cpu_utilization
          - node_memory_utilization
          - node_network_total_bytes
          - node_cpu_reserved_capacity
          - node_memory_reserved_capacity
          - node_number_of_running_pods
          - node_number_of_running_containers
      - dimensions: [ [ ClusterName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - node_cpu_usage_total
          - node_cpu_limit
          - node_memory_working_set
          - node_memory_limit
      # node fs metrics
      - dimensions: [ [ ClusterName, InstanceId, NodeName ], [ ClusterName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - node_filesystem_utilization
      # service metrics
      - dimensions: [ [ ClusterName, Namespace, Service ], [ ClusterName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - service_number_of_running_pods
      # namespace metrics
      - dimensions: [ [ ClusterName, Namespace ], [ ClusterName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - namespace_number_of_running_pods
      # cluster metrics
      - dimensions: [ [ ClusterName ] ]
        label_matchers: [ ]
        metric_name_selectors:
          - cluster_node_count
          - cluster_failed_node_count
    metric_descriptors: [ ]
    no_verify_ssl: false
    num_workers: 8
    output_destination: cloudwatch
    proxy_address: ""
    region: "us-east-1"
    request_timeout_seconds: 30
    resource_arn: ""
    role_arn: ""
    profile: ""
    shared_credentials_file: [ ]
extensions: {}
processors:
  batch/emf_logs:
    metadata_cardinality_limit: 1000
    metadata_keys: []
    send_batch_max_size: 0
    send_batch_size: 8192
    timeout: 5s
  batch/containerinsights:
    metadata_cardinality_limit: 1000
    metadata_keys: []
    send_batch_max_size: 0
    send_batch_size: 8192
    timeout: 5s
receivers:
  awscontainerinsightreceiver:
    add_container_name_metric_label: false
    add_full_pod_name_metric_label: false
    add_service_as_attribute: true
    cluster_name: TestCluster
    collection_interval: 30s
    container_orchestrator: eks
    enable_control_plane_metrics: false
    certificate_file_path: ""
    endpoint: ""
    imds_retries: 1
    prefer_full_pod_name: true
    leader_lock_name: cwagent-clusterleader
    leader_lock_using_config_map_only: true
    local_mode: false
    max_retries: 0
    no_verify_ssl: false
    num_workers: 0
    proxy_address: ""
    region: "us-east-1"
    request_timeout_seconds: 0
    resource_arn: ""
    role_arn: ""
    profile: ""
    shared_credentials_file: [ ]
  tcplog/emf_logs:
    attributes: {}
    encoding: utf-8
    id: tcp_input
    listen_address: 0.0.0.0:25888
    operators: []
    output: []
    resource: {}
    retry_on_failure:
      enabled: false
      initial_interval: 0s
      max_elapsed_time: 0s
      max_interval: 0s
    storage: null
    type: tcp_input
  udplog/emf_logs:
    attributes: {}
    encoding: utf-8
    id: udp_input
    listen_address: 0.0.0.0:25888
    multiline:
      line_end_pattern: .^
      line_start_pattern: ""
    operators: []
    output: []
    resource: {}
    retry_on_failure:
      enabled: false
      initial_interval: 0s
      max_elapsed_time: 0s
      max_interval: 0s
    storage: null
    type: udp_input
service:
  extensions: []
  pipelines:
    logs/emf_logs:
      exporters:
        - awscloudwatchlogs/emf_logs
      processors:
        - batch/emf_logs
      receivers:
        - tcplog/emf_logs
        - udplog/emf_logs
    metrics/containerinsights:
      exporters:
        - awsemf/containerinsights
      processors:
        - batch/containerinsights
      receivers:
        - awscontainerinsightreceiver
  telemetry:
    logs:
      development: false
      disable_caller: false
      disable_stacktrace: false
      encoding: console
      error_output_paths: []
      initial_fields: {}
      level: info
      output_paths: []
      sampling:
        initial: 2
        thereafter: 500
    metrics:
      address: ""
      level: None
      readers: []
    resource: {}
    traces:
      processors: []
      propagators: []