connectors: {}
exporters:
    awsemf/app_signals:
        certificate_file_path: ""
        detailed_metrics: false
        dimension_rollup_option: NoDimensionRollup
        disable_metric_extraction: false
        eks_fargate_container_insights_enabled: false
        endpoint: https://fake_endpoint
        enhanced_container_insights: false
        imds_retries: 1
        local_mode: true
        log_group_name: /aws/appsignals/generic
        log_retention: 0
        log_stream_name: ""
        max_retries: 2
        metric_declarations:
            - dimensions:
                - - HostedIn.Environment
                  - Operation
                  - Service
                - - HostedIn.Environment
                  - Service
              label_matchers:
                - label_names:
                    - aws.span.kind
                  regex: ^(SERVER|LOCAL_ROOT)$
                  separator: ;
                - label_names:
                    - host.name
                  regex: .*
                  separator: ;
              metric_name_selectors:
                - Latency
                - Fault
                - Error
            - dimensions:
                - - HostedIn.Environment
                  - Operation
                  - RemoteOperation
                  - RemoteService
                  - RemoteTarget
                  - Service
                - - HostedIn.Environment
                  - Operation
                  - RemoteOperation
                  - RemoteService
                  - Service
                - - HostedIn.Environment
                  - RemoteService
                  - Service
                - - HostedIn.Environment
                  - RemoteOperation
                  - RemoteService
                  - RemoteTarget
                  - Service
                - - HostedIn.Environment
                  - RemoteOperation
                  - RemoteService
                  - Service
                - - HostedIn.Environment
                  - RemoteService
                  - RemoteTarget
                  - Service
                - - RemoteService
                  - RemoteTarget
                - - RemoteService
              label_matchers:
                - label_names:
                    - aws.span.kind
                  regex: ^(CLIENT|PRODUCER|CONSUMER)$
                  separator: ;
                - label_names:
                    - host.name
                  regex: .*
                  separator: ;
              metric_name_selectors:
                - Latency
                - Fault
                - Error
        metric_descriptors: []
        middleware: agenthealth/logs
        namespace: AppSignals
        no_verify_ssl: false
        num_workers: 8
        output_destination: cloudwatch
        parse_json_encoded_attr_values: []
        profile: AmazonCloudWatchAgent
        proxy_address: ""
        region: us-east-1
        request_timeout_seconds: 30
        resource_arn: ""
        resource_to_telemetry_conversion:
            enabled: false
        retain_initial_value_of_delta_metric: false
        role_arn: ""
        shared_credentials_file: ["fake-path"]
        version: "1"
    awsxray/app_signals:
        aws_log_groups: []
        certificate_file_path: ""
        endpoint: https://fake_endpoint
        imds_retries: 1
        index_all_attributes: false
        indexed_attributes:
            - aws.local.service
            - aws.local.operation
            - aws.remote.service
            - aws.remote.operation
            - aws.remote.target
            - HostedIn.Environment
        local_mode: true
        max_retries: 2
        middleware: agenthealth/traces
        no_verify_ssl: false
        num_workers: 8
        profile: "AmazonCloudWatchAgent"
        proxy_address: ""
        region: us-east-1
        request_timeout_seconds: 30
        resource_arn: ""
        role_arn: ""
        shared_credentials_file: ["fake-path"]
        telemetry:
            enabled: true
            include_metadata: true
extensions:
    agenthealth/logs:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutLogEvents
    agenthealth/traces:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutTraceSegments
    awsproxy/app_signals:
        aws_endpoint: "https://fake_endpoint"
        certificate_file_path: ""
        endpoint: 0.0.0.0:2000
        imds_retries: 1
        local_mode: true
        profile: "AmazonCloudWatchAgent"
        proxy_address: ""
        region: us-east-1
        role_arn: ""
        shared_credentials_file: ["fake-path"]
processors:
    awsappsignals:
        resolvers:
            - name: ""
              platform: generic
        rules: []
        limiter: null
receivers:
    otlp/app_signals:
        protocols:
            grpc:
                auth: null
                endpoint: 0.0.0.0:4315
                include_metadata: false
                keepalive: null
                max_concurrent_streams: 0
                max_recv_msg_size_mib: 0
                read_buffer_size: 524288
                tls: null
                transport: tcp
                write_buffer_size: 0
            http:
                auth: null
                cors: null
                endpoint: 0.0.0.0:4316
                include_metadata: false
                logs_url_path: /v1/logs
                max_request_body_size: 0
                metrics_url_path: /v1/metrics
                response_headers: {}
                tls: null
                traces_url_path: /v1/traces
service:
    extensions:
        - awsproxy/app_signals
        - agenthealth/traces
        - agenthealth/logs
    pipelines:
        metrics/app_signals:
            exporters:
                - awsemf/app_signals
            processors:
                - awsappsignals
            receivers:
                - otlp/app_signals
        traces/app_signals:
            exporters:
                - awsxray/app_signals
            processors:
                - awsappsignals
            receivers:
                - otlp/app_signals
    telemetry:
        logs:
            development: false
            disable_caller: false
            disable_stacktrace: false
            encoding: console
            error_output_paths: []
            initial_fields: {}
            level: info
            output_paths: ["/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log"]
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            address: ""
            level: None
            readers: []
        resource: {}
        traces:
            processors: []
            propagators: []
