exporters:
    nop: {}
extensions:
    entitystore:
        mode: ec2
receivers:
    nop: {}
service:
    extensions:
        - entitystore
    pipelines:
        metrics/nop:
            exporters:
                - nop
            processors: []
            receivers:
                - nop
    telemetry:
        logs:
            development: false
            disable_caller: false
            disable_stacktrace: false
            encoding: console
            level: error
            output_paths:
                - /tmp/fake/log/hotdog.log
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            address: ""
            level: None
        traces: {}
