connectors: {}
exporters:
    awscloudwatch:
        drop_original_metrics:
            CPU_USAGE_IDLE: true
            cpu_time_active: true
        endpoint_override: https://monitoring-fips.us-west-2.amazonaws.com
        force_flush_interval: 1m0s
        max_datums_per_call: 1000
        max_values_per_datum: 5000
        namespace: CWAgent
        region: us-west-2
        resource_to_telemetry_conversion:
            enabled: true
        role_arn: metrics_role_arn_value_test
        rollup_dimensions:
            - - ImageId
            - - InstanceId
              - InstanceType
            - - d1
            - []
    awscloudwatchlogs/emf_logs:
        emf_only: true
        certificate_file_path: ""
        endpoint: "https://logs-fips.us-west-2.amazonaws.com"
        imds_retries: 1
        local_mode: false
        log_group_name: emf/logs/default
        log_retention: 0
        log_stream_name: LOG_STREAM_NAME
        max_retries: 2
        no_verify_ssl: false
        num_workers: 8
        proxy_address: ""
        raw_log: true
        region: "us-west-2"
        request_timeout_seconds: 30
        resource_arn: ""
        retry_on_failure:
            enabled: true
            initial_interval: 5s
            max_elapsed_time: 5m0s
            max_interval: 30s
            multiplier: 1.5
            randomization_factor: 0.5
        role_arn: log_role_arn_value_test
        sending_queue:
            queue_size: 1000
        profile: ""
        shared_credentials_file: [ ]
    awsxray:
        aws_log_groups: []
        certificate_file_path: ""
        endpoint: https://x-ray-endpoint.us-west-2.amazonaws.com
        imds_retries: 1
        index_all_attributes: false
        indexed_attributes: []
        local_mode: true
        max_retries: 2
        no_verify_ssl: true
        num_workers: 1
        proxy_address: https://proxy.proxy.com
        region: us-west-2
        request_timeout_seconds: 30
        resource_arn: arn:aws:iam::account:resource
        role_arn: trace_role_arn_value_test
        profile: ""
        shared_credentials_file: [ ]
        telemetry:
            enabled: true
            include_metadata: true
extensions: {}
processors:
    batch/emf_logs:
        metadata_cardinality_limit: 1000
        metadata_keys: []
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 1m0s
    batch/xray:
        metadata_cardinality_limit: 1000
        metadata_keys: []
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 200ms
    cumulativetodelta/hostDeltaMetrics:
        exclude:
            match_type: strict
            metrics:
                - iops_in_progress
                - diskio_iops_in_progress
            regexp: null
        include:
            match_type: ""
            metrics: []
            regexp: null
        initial_value: 0
        max_staleness: 0s
    ec2tagger:
        ec2_instance_tag_keys:
            - AutoScalingGroupName
        ec2_metadata_tags:
            - ImageId
            - InstanceId
            - InstanceType
        refresh_interval_seconds: 0s
        imds_retries: 1
    transform:
        error_mode: propagate
        log_statements: []
        metric_statements:
            - context: metric
              statements:
                  - set(unit, "unit") where name == "cpu_usage_idle"
                  - set(name, "CPU_USAGE_IDLE") where name == "cpu_usage_idle"
                  - set(unit, "unit") where name == "cpu_usage_nice"
                  - set(unit, "unit") where name == "disk_free"
                  - set(name, "DISK_FREE") where name == "disk_free"
        trace_statements: []
receivers:
    awsxray:
        endpoint: 0.0.0.0:2001
        proxy_server:
            aws_endpoint: https://x-ray-endpoint.us-west-2.amazonaws.com
            endpoint: 0.0.0.0:1234
            local_mode: true
            proxy_address: https://proxy.proxy.com
            region: us-west-2
            role_arn: trace_role_arn_value_test
            tls:
                ca_file: ""
                ca_pem: "[REDACTED]"
                cert_file: ""
                cert_pem: "[REDACTED]"
                insecure: true
                insecure_skip_verify: false
                key_file: ""
                key_pem: "[REDACTED]"
                max_version: ""
                min_version: ""
                reload_interval: 0s
                server_name_override: ""
        transport: udp
    otlp:
        protocols:
            grpc:
                auth: null
                endpoint: 0.0.0.0:1111
                include_metadata: false
                keepalive: null
                max_concurrent_streams: 0
                max_recv_msg_size_mib: 0
                read_buffer_size: 524288
                tls: null
                transport: tcp
                write_buffer_size: 0
            http:
                auth: null
                cors: null
                endpoint: 0.0.0.0:2222
                include_metadata: false
                logs_url_path: /v1/logs
                max_request_body_size: 0
                metrics_url_path: /v1/metrics
                response_headers: {}
                tls: null
                traces_url_path: /v1/traces
    telegraf_cpu:
        collection_interval: 10s
        initial_delay: "1s"
        timeout: 0s
    telegraf_disk:
        collection_interval: 1m0s
        initial_delay: "1s"
        timeout: 0s
    telegraf_diskio:
        collection_interval: 1m0s
        initial_delay: "1s"
        timeout: 0s
    telegraf_mem:
        collection_interval: 1s
        initial_delay: "1s"
        timeout: 0s
    telegraf_net:
        collection_interval: 10s
        initial_delay: "1s"
        timeout: 0s
    telegraf_netstat:
        collection_interval: 1m0s
        initial_delay: "1s"
        timeout: 0s
    telegraf_processes:
        collection_interval: 10s
        initial_delay: "1s"
        timeout: 0s
    telegraf_procstat/1917393364:
        alias_name: /var/run/example1.pid
        collection_interval: 10s
        initial_delay: "1s"
        timeout: 0s
    telegraf_socket_listener:
        collection_interval: 10s
        initial_delay: "1s"
        timeout: 0s
    telegraf_statsd:
        collection_interval: 10s
        initial_delay: "1s"
        timeout: 0s
    telegraf_swap:
        collection_interval: 10s
        initial_delay: "1s"
        timeout: 0s
    udplog/emf_logs:
        attributes: {}
        encoding: utf-8
        id: udp_input
        listen_address: 127.0.0.1:25888
        multiline:
            line_end_pattern: .^
            line_start_pattern: ""
        operators: []
        output: []
        resource: {}
        retry_on_failure:
            enabled: false
            initial_interval: 0s
            max_elapsed_time: 0s
            max_interval: 0s
        storage: null
        type: udp_input
service:
    extensions: []
    pipelines:
        logs/emf_logs:
            exporters:
                - awscloudwatchlogs/emf_logs
            processors:
                - batch/emf_logs
            receivers:
                - udplog/emf_logs
        metrics/host:
            exporters:
                - awscloudwatch
            processors:
                - ec2tagger
                - transform
            receivers:
                - telegraf_procstat/1917393364
                - telegraf_mem
                - telegraf_cpu
                - telegraf_disk
                - telegraf_swap
                - telegraf_statsd
                - telegraf_socket_listener
                - telegraf_processes
                - telegraf_netstat
        metrics/hostDeltaMetrics:
            exporters:
                - awscloudwatch
            processors:
                - cumulativetodelta/hostDeltaMetrics
                - ec2tagger
                - transform
            receivers:
                - telegraf_diskio
                - telegraf_net
        traces/xray:
            exporters:
                - awsxray
            processors:
                - batch/xray
            receivers:
                - awsxray
                - otlp
    telemetry:
        logs:
            development: false
            disable_caller: false
            disable_stacktrace: false
            encoding: console
            error_output_paths: []
            initial_fields: {}
            level: error
            output_paths:
                - /tmp/fake/log/hotdog.log
            sampling:
                initial: 2
                thereafter: 500
        metrics:
            address: ""
            level: None
            readers: []
        resource: {}
        traces:
            processors: []
            propagators: []
