exporters:
    awscloudwatch:
        endpoint_override: https://monitoring-fips.us-west-2.amazonaws.com
        force_flush_interval: 1m0s
        max_datums_per_call: 1000
        max_values_per_datum: 5000
        middleware: agenthealth/metrics
        namespace: CWAgent
        region: us-west-2
        resource_to_telemetry_conversion:
            enabled: true
        role_arn: metrics_role_arn_value_test
        rollup_dimensions:
            - - ImageId
            - - InstanceId
              - InstanceType
            - - d1
            - []
    awscloudwatchlogs/emf_logs:
        certificate_file_path: ""
        emf_only: true
        endpoint: https://logs-fips.us-west-2.amazonaws.com
        external_id: ""
        imds_retries: 1
        local_mode: false
        log_group_name: emf/logs/default
        log_retention: 0
        log_stream_name: LOG_STREAM_NAME
        max_retries: 2
        middleware: agenthealth/logs
        no_verify_ssl: false
        num_workers: 8
        profile: ""
        proxy_address: ""
        raw_log: true
        region: us-west-2
        request_timeout_seconds: 30
        resource_arn: ""
        retry_on_failure:
            enabled: true
            initial_interval: 5s
            max_elapsed_time: 5m0s
            max_interval: 30s
            multiplier: 1.5
            randomization_factor: 0.5
        role_arn: log_role_arn_value_test
        sending_queue:
            block_on_overflow: false
            blocking: false
            enabled: true
            num_consumers: 1
            queue_size: 1000
            sizer: {}
            wait_for_result: false
    awsxray:
        certificate_file_path: ""
        endpoint: https://x-ray-endpoint.us-west-2.amazonaws.com
        external_id: ""
        imds_retries: 1
        index_all_attributes: false
        local_mode: true
        max_retries: 2
        middleware: agenthealth/traces
        no_verify_ssl: true
        num_workers: 1
        profile: ""
        proxy_address: https://proxy.proxy.com
        region: us-west-2
        request_timeout_seconds: 30
        resource_arn: arn:aws:iam::account:resource
        role_arn: trace_role_arn_value_test
        telemetry:
            enabled: true
            include_metadata: true
extensions:
    agenthealth/logs:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutLogEvents
            usage_flags:
                mode: EC2
                region_type: ACJ
    agenthealth/metrics:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutMetricData
            usage_flags:
                mode: EC2
                region_type: ACJ
    agenthealth/statuscode:
        is_status_code_enabled: true
        is_usage_data_enabled: true
        stats:
            usage_flags:
                mode: EC2
                region_type: ACJ
    agenthealth/traces:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutTraceSegments
            usage_flags:
                mode: EC2
                region_type: ACJ
    entitystore:
        mode: ec2
        region: us-west-2
processors:
    awsentity/resource:
        entity_type: Resource
        platform: ec2
        scrape_datapoint_attribute: true
    awsentity/service/telegraf:
        entity_type: Service
        platform: ec2
        scrape_datapoint_attribute: true
    batch/emf_logs:
        metadata_cardinality_limit: 1000
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 1m0s
    batch/xray:
        metadata_cardinality_limit: 1000
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 200ms
    ec2tagger:
        ec2_instance_tag_keys:
            - AutoScalingGroupName
        ec2_metadata_tags:
            - ImageId
            - InstanceId
            - InstanceType
        imds_retries: 1
        middleware: agenthealth/statuscode
        refresh_tags_interval: 0s
        refresh_volumes_interval: 0s
    transform:
        error_mode: propagate
        flatten_data: false
        log_statements: []
        metric_statements:
            - context: metric
              error_mode: propagate
              statements:
                  - set(unit, "PERCENT") where name == "Processor % Idle Time"
                  - set(name, "CPU_IDLE") where name == "Processor % Idle Time"
                  - set(unit, "PERCENT") where name == "LogicalDisk % Idle Time"
                  - set(name, "DISK_READ") where name == "LogicalDisk % Disk Read Time"
        trace_statements: []
receivers:
    awsxray:
        endpoint: 0.0.0.0:2001
        proxy_server:
            aws_endpoint: https://x-ray-endpoint.us-west-2.amazonaws.com
            certificate_file_path: ""
            endpoint: 0.0.0.0:1234
            imds_retries: 1
            local_mode: true
            profile: ""
            proxy_address: https://proxy.proxy.com
            region: us-west-2
            role_arn: trace_role_arn_value_test
            service_name: xray
            tls:
                insecure: true
        transport: udp
    otlp/grpc_1111:
        protocols:
            grpc:
                endpoint: 0.0.0.0:1111
                keepalive:
                    enforcement_policy: {}
                    server_parameters: {}
                read_buffer_size: 524288
                transport: tcp
    otlp/http_2222:
        protocols:
            http:
                cors: {}
                endpoint: 0.0.0.0:2222
                idle_timeout: 0s
                logs_url_path: /v1/logs
                metrics_url_path: /v1/metrics
                read_header_timeout: 0s
                traces_url_path: /v1/traces
                write_timeout: 0s
    telegraf_nvidia_smi:
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
    telegraf_procstat/1340600742:
        alias_name: agent
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
    telegraf_statsd:
        collection_interval: 10s
        initial_delay: 1s
        timeout: 0s
    telegraf_win_perf_counters/1063858558:
        alias_name: Network Interface
        collection_interval: 5s
        initial_delay: 1s
        timeout: 0s
    telegraf_win_perf_counters/1492679118:
        alias_name: Memory
        collection_interval: 5s
        initial_delay: 1s
        timeout: 0s
    telegraf_win_perf_counters/2402387132:
        alias_name: System
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
    telegraf_win_perf_counters/3081249416:
        alias_name: customizedObjectName
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
    telegraf_win_perf_counters/3762679655:
        alias_name: Processor
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
    telegraf_win_perf_counters/4283769065:
        alias_name: LogicalDisk
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
    udplog/emf_logs:
        encoding: utf-8
        id: udp_input
        listen_address: 127.0.0.1:25888
        multiline:
            line_end_pattern: .^
            line_start_pattern: ""
            omit_pattern: false
        operators: []
        retry_on_failure:
            enabled: false
            initial_interval: 0s
            max_elapsed_time: 0s
            max_interval: 0s
        type: udp_input
service:
    extensions:
        - agenthealth/metrics
        - agenthealth/statuscode
        - agenthealth/logs
        - agenthealth/traces
        - entitystore
    pipelines:
        logs/emf_logs:
            exporters:
                - awscloudwatchlogs/emf_logs
            processors:
                - batch/emf_logs
            receivers:
                - udplog/emf_logs
        metrics/host:
            exporters:
                - awscloudwatch
            processors:
                - ec2tagger
                - transform
                - awsentity/resource
            receivers:
                - telegraf_win_perf_counters/4283769065
                - telegraf_win_perf_counters/3081249416
                - telegraf_win_perf_counters/1063858558
                - telegraf_procstat/1340600742
                - telegraf_win_perf_counters/3762679655
                - telegraf_win_perf_counters/1492679118
                - telegraf_nvidia_smi
                - telegraf_win_perf_counters/2402387132
        metrics/hostCustomMetrics:
            exporters:
                - awscloudwatch
            processors:
                - ec2tagger
                - transform
                - awsentity/service/telegraf
            receivers:
                - telegraf_statsd
        traces/xray:
            exporters:
                - awsxray
            processors:
                - batch/xray
            receivers:
                - awsxray
                - otlp/grpc_1111
                - otlp/http_2222
    telemetry:
        logs:
            encoding: console
            level: debug
            output_paths:
                - c:\ProgramData\Amazon\AmazonCloudWatchAgent\Logs\amazon-cloudwatch-agent.log
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            level: None
        traces:
            level: None
