connectors: {}
exporters:
    awscloudwatch:
      force_flush_interval: 1m0s
      max_datums_per_call: 1000
      max_values_per_datum: 150
      namespace: CWAgent
      region: us-east-1
      resource_to_telemetry_conversion:
        enabled: true
extensions: {}
processors:
  cumulativetodelta/hostDeltaMetrics:
    exclude:
      match_type: strict
      metrics:
        - iops_in_progress
        - diskio_iops_in_progress
      regexp: null
    include:
      match_type: ""
      metrics: []
      regexp: null
    initial_value: 0
    max_staleness: 0s
  ec2tagger:
    ec2_instance_tag_keys:
      - AutoScalingGroupName
    ec2_metadata_tags:
      - ImageId
      - InstanceId
      - InstanceType
    refresh_interval_seconds: 0s
    imds_retries: 1
  transform:
    log_statements: [ ]
    error_mode: "propagate"
    metric_statements:
      - context: metric
        statements:
          - set(unit, "Count") where name == "diskio_iops_in_progress"
          - set(name, "DRIVER_DISKIO_IOPS_IN_PROGRESS") where name == "diskio_iops_in_progress"
          - set(unit, "Milliseconds") where name == "diskio_read_time"
          - set(name, "DRIVER_DISKIO_READ_TIME") where name == "diskio_read_time"
          - set(unit, "Milliseconds") where name == "diskio_write_time"
          - set(name, "DRIVER_DISKIO_WRITE_TIME") where name == "diskio_write_time"
    trace_statements: []
receivers:
    telegraf_diskio:
        collection_interval: 1m0s
        initial_delay: "1s"
        timeout: 0s
service:
    extensions: []
    pipelines:
      metrics/hostDeltaMetrics:
        exporters:
          - awscloudwatch
        processors:
          - cumulativetodelta/hostDeltaMetrics
          - ec2tagger
          - transform
        receivers:
          - telegraf_diskio
    telemetry:
        logs:
            development: false
            disable_caller: false
            disable_stacktrace: false
            encoding: console
            error_output_paths: []
            initial_fields: {}
            level: info
            output_paths: [/opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log]
            sampling:
                initial: 2
                thereafter: 500
        metrics:
            address: ""
            level: None
            readers: []
        resource: {}
        traces:
            processors: []
            propagators: []
