exporters:
    awscloudwatch:
        force_flush_interval: 1m0s
        max_datums_per_call: 1000
        max_values_per_datum: 150
        middleware: agenthealth/metrics
        namespace: CWAgent
        region: us-east-1
        resource_to_telemetry_conversion:
            enabled: true
extensions:
    agenthealth/metrics:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutMetricData
            usage_flags:
                mode: EC2
                region_type: ACJ
    agenthealth/statuscode:
        is_status_code_enabled: true
        is_usage_data_enabled: true
        stats:
            usage_flags:
                mode: EC2
                region_type: ACJ
    entitystore:
        mode: ec2
        region: us-east-1
processors:
    awsentity/resource:
        entity_type: Resource
        platform: ec2
        scrape_datapoint_attribute: true
    cumulativetodelta/hostDeltaMetrics:
        exclude:
            match_type: strict
            metrics:
                - iops_in_progress
                - diskio_iops_in_progress
                - diskio_ebs_volume_queue_length
        include:
            match_type: ""
        initial_value: 2
        max_staleness: 0s
    ec2tagger:
        ec2_instance_tag_keys:
            - AutoScalingGroupName
        ec2_metadata_tags:
            - InstanceType
            - ImageId
            - InstanceId
        imds_retries: 1
        middleware: agenthealth/statuscode
        refresh_tags_interval: 0s
        refresh_volumes_interval: 0s
    transform:
        error_mode: propagate
        flatten_data: false
        log_statements: []
        metric_statements:
            - context: metric
              error_mode: ""
              statements:
                - set(unit, "Count") where name == "diskio_iops_in_progress"
                - set(name, "DRIVER_DISKIO_IOPS_IN_PROGRESS") where name == "diskio_iops_in_progress"
                - set(unit, "Milliseconds") where name == "diskio_read_time"
                - set(name, "DRIVER_DISKIO_READ_TIME") where name == "diskio_read_time"
                - set(unit, "Milliseconds") where name == "diskio_write_time"
                - set(name, "DRIVER_DISKIO_WRITE_TIME") where name == "diskio_write_time"
        trace_statements: []
receivers:
    telegraf_diskio:
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
service:
    extensions:
        - agenthealth/metrics
        - agenthealth/statuscode
        - entitystore
    pipelines:
        metrics/hostDeltaMetrics:
            exporters:
                - awscloudwatch
            processors:
                - cumulativetodelta/hostDeltaMetrics
                - ec2tagger
                - transform
                - awsentity/resource
            receivers:
                - telegraf_diskio
    telemetry:
        logs:
            encoding: console
            level: info
            output_paths:
                - /opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            level: None
        traces:
            level: None
