exporters:
    awsemf:
        add_entity: true
        certificate_file_path: ""
        detailed_metrics: false
        dimension_rollup_option: NoDimensionRollup
        disable_metric_extraction: false
        eks_fargate_container_insights_enabled: false
        endpoint: ""
        enhanced_container_insights: false
        external_id: ""
        imds_retries: 1
        local_mode: false
        log_group_name: /aws/cwagent
        log_retention: 0
        log_stream_name: ""
        max_retries: 2
        middleware: agenthealth/logs
        namespace: CWAgent
        no_verify_ssl: false
        num_workers: 8
        output_destination: cloudwatch
        profile: ""
        proxy_address: ""
        region: us-west-2
        request_timeout_seconds: 30
        resource_arn: ""
        resource_to_telemetry_conversion:
            enabled: true
        retain_initial_value_of_delta_metric: false
        role_arn: ""
        version: "0"
extensions:
    agenthealth/logs:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutLogEvents
            usage_flags:
                mode: EC2
                region_type: ACJ
    agenthealth/statuscode:
        is_status_code_enabled: true
        is_usage_data_enabled: true
        stats:
            usage_flags:
                mode: EC2
                region_type: ACJ
    entitystore:
        mode: ec2
        region: us-west-2
processors:
    awsentity/service/otlp:
        entity_type: Service
        platform: ec2
    batch/hostOtlpMetrics/cloudwatchlogs:
        metadata_cardinality_limit: 1000
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 30s
    cumulativetodelta/hostOtlpMetrics/cloudwatchlogs:
        exclude:
            match_type: ""
        include:
            match_type: ""
        initial_value: 2
        max_staleness: 0s
receivers:
    otlp/grpc_0_0_0_0_1234:
        protocols:
            grpc:
                endpoint: 0.0.0.0:1234
                keepalive:
                    enforcement_policy: {}
                    server_parameters: {}
                read_buffer_size: 524288
                tls:
                    cert_file: /path/to/cert.pem
                    key_file: /path/to/key.pem
                transport: tcp
    otlp/http_0_0_0_0_2345:
        protocols:
            http:
                cors: {}
                endpoint: 0.0.0.0:2345
                idle_timeout: 0s
                logs_url_path: /v1/logs
                metrics_url_path: /v1/metrics
                read_header_timeout: 0s
                tls:
                    cert_file: /path/to/cert.pem
                    key_file: /path/to/key.pem
                traces_url_path: /v1/traces
                write_timeout: 0s
service:
    extensions:
        - agenthealth/logs
        - agenthealth/statuscode
        - entitystore
    pipelines:
        metrics/hostOtlpMetrics/cloudwatchlogs:
            exporters:
                - awsemf
            processors:
                - cumulativetodelta/hostOtlpMetrics/cloudwatchlogs
                - awsentity/service/otlp
                - batch/hostOtlpMetrics/cloudwatchlogs
            receivers:
                - otlp/grpc_0_0_0_0_1234
                - otlp/http_0_0_0_0_2345
    telemetry:
        logs:
            encoding: console
            level: info
            output_paths:
                - /opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            level: None
        traces:
            level: None
