exporters:
    awscloudwatch:
        force_flush_interval: 1m0s
        max_datums_per_call: 1000
        max_values_per_datum: 150
        middleware: agenthealth/metrics
        namespace: CWAgent
        region: us-west-2
        resource_to_telemetry_conversion:
            enabled: true
extensions:
    agenthealth/metrics:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutMetricData
            usage_flags:
                mode: EC2
                region_type: ACJ
    agenthealth/statuscode:
        is_status_code_enabled: true
        is_usage_data_enabled: true
        stats:
            usage_flags:
                mode: EC2
                region_type: ACJ
    entitystore:
        mode: ec2
        region: us-west-2
processors:
    awsentity/service/otlp:
        entity_type: Service
        platform: ec2
    cumulativetodelta/hostOtlpMetrics:
        exclude:
            match_type: ""
        include:
            match_type: ""
        initial_value: 2
        max_staleness: 0s
    ec2tagger:
        ec2_instance_tag_keys:
            - AutoScalingGroupName
        ec2_metadata_tags:
            - ImageId
            - InstanceId
            - InstanceType
        imds_retries: 1
        middleware: agenthealth/statuscode
        refresh_tags_interval: 0s
        refresh_volumes_interval: 0s
receivers:
    otlp/grpc_1234:
        protocols:
            grpc:
                endpoint: 0.0.0.0:1234
                keepalive:
                    enforcement_policy: {}
                    server_parameters: {}
                read_buffer_size: 524288
                tls:
                    cert_file: /path/to/cert.pem
                    key_file: /path/to/key.pem
                transport: tcp
    otlp/http_2345:
        protocols:
            http:
                cors: {}
                endpoint: 0.0.0.0:2345
                idle_timeout: 0s
                logs_url_path: /v1/logs
                metrics_url_path: /v1/metrics
                read_header_timeout: 0s
                tls:
                    cert_file: /path/to/cert.pem
                    key_file: /path/to/key.pem
                traces_url_path: /v1/traces
                write_timeout: 0s
service:
    extensions:
        - agenthealth/metrics
        - agenthealth/statuscode
        - entitystore
    pipelines:
        metrics/hostOtlpMetrics:
            exporters:
                - awscloudwatch
            processors:
                - cumulativetodelta/hostOtlpMetrics
                - ec2tagger
                - awsentity/service/otlp
            receivers:
                - otlp/grpc_1234
                - otlp/http_2345
    telemetry:
        logs:
            encoding: console
            level: info
            output_paths:
                - /opt/aws/amazon-cloudwatch-agent/logs/amazon-cloudwatch-agent.log
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            level: None
        traces:
            level: None
