exporters:
    awsemf:
        certificate_file_path: ""
        detailed_metrics: false
        dimension_rollup_option: NoDimensionRollup
        disable_metric_extraction: false
        eks_fargate_container_insights_enabled: false
        endpoint: ""
        enhanced_container_insights: false
        imds_retries: 1
        local_mode: false
        log_group_name: /aws/cwagent
        log_retention: 0
        log_stream_name: ""
        max_retries: 2
        middleware: agenthealth/logs
        namespace: CWAgent
        no_verify_ssl: false
        num_workers: 8
        output_destination: cloudwatch
        profile: ""
        proxy_address: ""
        region: us-west-2
        request_timeout_seconds: 30
        resource_arn: ""
        resource_to_telemetry_conversion:
            enabled: true
        retain_initial_value_of_delta_metric: false
        role_arn: ""
        version: "0"
extensions:
    agenthealth/logs:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutLogEvents
            usage_flags:
                mode: K8E
                region_type: ACJ
    agenthealth/statuscode:
        is_status_code_enabled: true
        is_usage_data_enabled: true
        stats:
            usage_flags:
                mode: K8E
                region_type: ACJ
    entitystore:
        kubernetes_mode: K8sEC2
        mode: ec2
        region: us-west-2
    server:
        listen_addr: :4311
        tls_ca_path: /etc/amazon-cloudwatch-observability-agent-client-cert/tls-ca.crt
        tls_cert_path: /etc/amazon-cloudwatch-observability-agent-server-cert/server.crt
        tls_key_path: /etc/amazon-cloudwatch-observability-agent-server-cert/server.key
processors:
    awsentity/service/otlp:
        entity_type: Service
        kubernetes_mode: K8sEC2
        platform: ec2
    batch/hostOtlpMetrics/cloudwatchlogs:
        metadata_cardinality_limit: 1000
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 30s
    cumulativetodelta/hostOtlpMetrics/cloudwatchlogs:
        exclude:
            match_type: ""
        include:
            match_type: ""
        initial_value: 2
        max_staleness: 0s
    k8sattributes/hostOtlpMetrics/cloudwatchlogs:
        auth_type: serviceAccount
        context: ""
        exclude:
            pods:
                - name: jaeger-agent
                - name: jaeger-collector
        extract:
            metadata:
                - k8s.namespace.name
                - k8s.pod.name
                - k8s.replicaset.name
                - k8s.deployment.name
                - k8s.daemonset.name
                - k8s.statefulset.name
                - k8s.cronjob.name
                - k8s.job.name
                - k8s.node.name
        filter:
            namespace: ""
            node: ""
            node_from_env_var: K8S_NODE_NAME
        kube_config_path: ""
        passthrough: false
        pod_association:
            - sources:
                - from: connection
                  name: ""
receivers:
    otlp/metrics:
        protocols:
            grpc:
                dialer:
                    timeout: 0s
                endpoint: 0.0.0.0:1234
                include_metadata: false
                max_concurrent_streams: 0
                max_recv_msg_size_mib: 0
                read_buffer_size: 524288
                tls:
                    ca_file: ""
                    cert_file: /path/to/cert.pem
                    client_ca_file: ""
                    client_ca_file_reload: false
                    include_system_ca_certs_pool: false
                    key_file: /path/to/key.pem
                    max_version: ""
                    min_version: ""
                    reload_interval: 0s
                transport: tcp
                write_buffer_size: 0
            http:
                endpoint: 0.0.0.0:2345
                include_metadata: false
                logs_url_path: /v1/logs
                max_request_body_size: 0
                metrics_url_path: /v1/metrics
                tls:
                    ca_file: ""
                    cert_file: /path/to/cert.pem
                    client_ca_file: ""
                    client_ca_file_reload: false
                    include_system_ca_certs_pool: false
                    key_file: /path/to/key.pem
                    max_version: ""
                    min_version: ""
                    reload_interval: 0s
                traces_url_path: /v1/traces
service:
    extensions:
        - agenthealth/logs
        - agenthealth/statuscode
        - entitystore
        - server
    pipelines:
        metrics/hostOtlpMetrics/cloudwatchlogs:
            exporters:
                - awsemf
            processors:
                - k8sattributes/hostOtlpMetrics/cloudwatchlogs
                - awsentity/service/otlp
                - cumulativetodelta/hostOtlpMetrics/cloudwatchlogs
                - batch/hostOtlpMetrics/cloudwatchlogs
            receivers:
                - otlp/metrics
    telemetry:
        logs:
            development: false
            disable_caller: false
            disable_stacktrace: false
            encoding: console
            level: info
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            address: ""
            level: None
        traces: {}
