exporters:
    awsemf/prometheus:
        add_entity: false
        certificate_file_path: ""
        detailed_metrics: false
        dimension_rollup_option: NoDimensionRollup
        disable_metric_extraction: false
        eks_fargate_container_insights_enabled: false
        endpoint: https://fake_endpoint
        enhanced_container_insights: false
        external_id: ""
        imds_retries: 1
        local_mode: false
        log_group_name: /aws/ecs/containerinsights/TestCluster/prometheus
        log_retention: 0
        log_stream_name: '{JobName}'
        max_retries: 2
        metric_declarations:
            - dimensions:
                - - Service
              label_matchers:
                - label_names:
                    - Service
                  regex: nginx.*
                  separator: ;
              metric_name_selectors:
                - ^nginx_request_count$
            - dimensions: []
              label_matchers:
                - label_names:
                    - Namespace
                  regex: default
                  separator: ;
              metric_name_selectors:
                - .*
            - dimensions:
                - - name
              label_matchers:
                - label_names:
                    - name
                  regex: .*
                  separator: ;
              metric_name_selectors:
                - ^.*$
            - dimensions:
                - - name
              label_matchers:
                - label_names:
                    - name
                  regex: .*
                  separator: ;
              metric_name_selectors:
                - ^node_cpu_guest_seconds_total$
        metric_descriptors:
            - metric_name: nginx_request_count
              overwrite: false
              unit: Count
        middleware: agenthealth/logs
        namespace: CustomizedNamespace
        no_verify_ssl: false
        num_workers: 8
        output_destination: cloudwatch
        profile: ""
        proxy_address: ""
        region: us-east-1
        request_timeout_seconds: 30
        resource_arn: ""
        resource_to_telemetry_conversion:
            enabled: true
        retain_initial_value_of_delta_metric: false
        role_arn: ""
        version: "0"
extensions:
    agenthealth/logs:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutLogEvents
            usage_flags:
                mode: EC2
                region_type: ACJ
    agenthealth/statuscode:
        is_status_code_enabled: true
        is_usage_data_enabled: true
        stats:
            usage_flags:
                mode: EC2
                region_type: ACJ
    entitystore:
        mode: ec2
        region: us-east-1
processors:
    batch/prometheus/cloudwatchlogs:
        metadata_cardinality_limit: 1000
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 30s
    prometheusadapter/prometheus/cloudwatchlogs: {}
receivers:
    prometheus/prometheus/cloudwatchlogs:
        config:
            global:
                evaluation_interval: 1m
                scrape_interval: 5m
                scrape_protocols:
                    - OpenMetricsText1.0.0
                    - OpenMetricsText0.0.1
                    - PrometheusText0.0.4
                scrape_timeout: 5s
            scrape_configs:
                - enable_compression: true
                  enable_http2: true
                  file_sd_configs:
                    - files:
                      - {ecsSdFileName}
                      refresh_interval: 5m
                  follow_redirects: true
                  honor_timestamps: true
                  job_name: cwagent-ecs-file-sd-config
                  metrics_path: /metrics
                  sample_limit: 10000
                  scheme: http
                  scrape_interval: 5m
                  scrape_protocols:
                    - OpenMetricsText1.0.0
                    - OpenMetricsText0.0.1
                    - PrometheusText0.0.4
                  scrape_timeout: 5s
                  track_timestamps_staleness: false
        report_extra_scrape_metrics: false
        start_time_metric_regex: ""
        trim_metric_suffixes: false
        use_start_time_metric: false
service:
    extensions:
        - agenthealth/logs
        - agenthealth/statuscode
        - entitystore
    pipelines:
        metrics/prometheus/cloudwatchlogs:
            exporters:
                - awsemf/prometheus
            processors:
                - prometheusadapter/prometheus/cloudwatchlogs
                - batch/prometheus/cloudwatchlogs
            receivers:
                - prometheus/prometheus/cloudwatchlogs
    telemetry:
        logs:
            encoding: console
            level: info
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            level: None
        traces:
            level: None
