exporters:
    awsemf/prometheus:
        certificate_file_path: ""
        detailed_metrics: false
        dimension_rollup_option: NoDimensionRollup
        disable_metric_extraction: false
        eks_fargate_container_insights_enabled: false
        endpoint: https://fake_endpoint
        enhanced_container_insights: false
        imds_retries: 1
        local_mode: false
        log_group_name: /aws/ecs/containerinsights/TestCluster/prometheus
        log_retention: 0
        log_stream_name: '{JobName}'
        max_retries: 2
        metric_declarations:
            - dimensions:
                - - Service
              label_matchers:
                - label_names:
                    - Service
                  regex: nginx.*
                  separator: ;
              metric_name_selectors:
                - ^nginx_request_count$
            - dimensions: []
              label_matchers:
                - label_names:
                    - Namespace
                  regex: default
                  separator: ;
              metric_name_selectors:
                - .*
        metric_descriptors:
            - metric_name: nginx_request_count
              overwrite: false
              unit: Count
        middleware: agenthealth/logs
        namespace: CustomizedNamespace
        no_verify_ssl: false
        num_workers: 8
        output_destination: cloudwatch
        profile: ""
        proxy_address: ""
        region: us-east-1
        request_timeout_seconds: 30
        resource_arn: ""
        resource_to_telemetry_conversion:
            enabled: true
        retain_initial_value_of_delta_metric: false
        role_arn: ""
        version: "0"
extensions:
    agenthealth/logs:
        is_usage_data_enabled: true
        stats:
            operations:
                - PutLogEvents
            usage_flags:
                mode: EKS
                region_type: ACJ
    agenthealth/statuscode:
        is_status_code_enabled: true
        is_usage_data_enabled: true
        stats:
            usage_flags:
                mode: EKS
                region_type: ACJ
    entitystore:
        kubernetes_mode: EKS
        mode: ec2
        region: us-east-1
    server:
        listen_addr: :4311
        tls_ca_path: /etc/amazon-cloudwatch-observability-agent-client-cert/tls-ca.crt
        tls_cert_path: /etc/amazon-cloudwatch-observability-agent-server-cert/server.crt
        tls_key_path: /etc/amazon-cloudwatch-observability-agent-server-cert/server.key
processors:
    awsentity/service/prometheus:
        entity_type: Service
        kubernetes_mode: EKS
        platform: ec2
    batch/prometheus/cloudwatchlogs:
        metadata_cardinality_limit: 1000
        send_batch_max_size: 0
        send_batch_size: 8192
        timeout: 5s
receivers:
    telegraf_prometheus:
        collection_interval: 1m0s
        initial_delay: 1s
        timeout: 0s
service:
    extensions:
        - agenthealth/logs
        - agenthealth/statuscode
        - entitystore
        - server
    pipelines:
        metrics/prometheus/cloudwatchlogs:
            exporters:
                - awsemf/prometheus
            processors:
                - awsentity/service/prometheus
                - batch/prometheus/cloudwatchlogs
            receivers:
                - telegraf_prometheus
    telemetry:
        logs:
            development: false
            disable_caller: false
            disable_stacktrace: false
            encoding: console
            level: info
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            address: ""
            level: None
        traces:
            level: None
