exporters:
    awscloudwatch:
        force_flush_interval: 1m0s
        max_datums_per_call: 1000
        max_values_per_datum: 150
        middleware: agenthealth/metrics
        namespace: CWAgent
        region: us-west-2
        resource_to_telemetry_conversion:
            enabled: true
extensions:
    agenthealth/metrics:
        is_status_code_only: false
        is_usage_data_enabled: true
        stats:
            operations:
                - PutMetricData
            usage_flags:
                mode: EKS
                region_type: ACJ
    entitystore:
        kubernetes_mode: EKS
        mode: ec2
        region: us-west-2
    server:
        listen_addr: :4311
        tls_ca_path: /etc/amazon-cloudwatch-observability-agent-client-cert/tls-ca.crt
        tls_cert_path: /etc/amazon-cloudwatch-observability-agent-server-cert/server.crt
        tls_key_path: /etc/amazon-cloudwatch-observability-agent-server-cert/server.key
receivers:
    telegraf_statsd:
        collection_interval: 10s
        initial_delay: 1s
        timeout: 0s
service:
    extensions:
        - agenthealth/metrics
        - entitystore
        - server
    pipelines:
        metrics/hostCustomMetrics:
            exporters:
                - awscloudwatch
            processors: []
            receivers:
                - telegraf_statsd
    telemetry:
        logs:
            development: false
            disable_caller: false
            disable_stacktrace: false
            encoding: console
            level: info
            sampling:
                enabled: true
                initial: 2
                thereafter: 500
                tick: 10s
        metrics:
            address: ""
            level: None
        traces: {}
