# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT

# Location: /etc/systemd/system/aws-otel-collector.service
# systemctl enable cwagent-otel-collector
# systemctl start cwagent-otel-collector
# systemctl | grep cwagent-otel-collector
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=CWAgent OTel Collector
After=network.target

[Service]
Type=simple
ExecStart=/opt/aws/amazon-cloudwatch-agent/bin/cwagent-otel-collector --config /opt/aws/amazon-cloudwatch-agent/cwagent-otel-collector/etc/cwagent-otel-collector.yaml
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
