<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.amazon.cloudwatch.agent</string>
        <key>UserName</key>
        <string>root</string>
        <key>RunAtLoad</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
              <string>/opt/aws/amazon-cloudwatch-agent/bin/start-amazon-cloudwatch-agent</string>
        </array>
        <key>KeepAlive</key>
        <dict>
                <key>SuccessfulExit</key>
                <false/>
                <key>ThrottleInterval</key>
                <integer>60</integer>
        </dict>
    </dict>
</plist>
