name: build-and-test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            cachepath: |
              ~/.cache/go-build
              ~/go/pkg/mod
          - os: macos-latest
            cachepath: |
              ~/Library/Caches/go-build
              ~/go/pkg/mod
    steps:  

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15
      id: go

    - name: Configure git with longpath enabled (for windows)
      run: git config --global core.longpaths true

    - name: Check out code
      uses: actions/checkout@v2
      with:
        path: amazon-cloudwatch-agent
        fetch-depth: 0
        submodules: 'true'

    - name: Debug go.mod
      run: cat go.mod
      working-directory: amazon-cloudwatch-agent

    - name: Cache build output
      uses: actions/cache@v2
      with:
        path: ${{ matrix.cachepath }}
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Test
      run: make test
      working-directory: amazon-cloudwatch-agent

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        verbose: true
        directory: ./amazon-cloudwatch-agent/

    - name: Build
      run: make build
      working-directory: amazon-cloudwatch-agent

    - name: Archive production artifacts
      if: ${{ matrix.os == 'ubuntu-latest' }}
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}-build-artifacts
        path: |
          ${{ github.workspace }}/amazon-cloudwatch-agent/build/
          ${{ github.workspace }}/amazon-cloudwatch-agent/CWAGENT_VERSION
          ${{ github.workspace }}/amazon-cloudwatch-agent/coverage.txt
        retention-days: 5
