# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT

name: build-and-test-windows
on:
  push:
    branches: [master, main]
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '!.github/workflows/build-*'

  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  windows-unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-2019, windows-latest ]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ~1.15.15

      - name: Cache Go
        uses: actions/cache@v2
        with:
          path: |
            %LocalAppData%\go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Install make
        run: choco install make

      - name: Run Unit tests
        run: make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          verbose: true

      - name: Run build
        run: make build