# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT

name: build-and-test-linux
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - 'NOTICE'
      - 'RELEASE_NOTES'
      - 'THIRD-PARTY'
      - 'LICENSE'
      - '.github/**'
      - '!.github/workflows/build-*'


  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  linux-unittest:
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ~1.19.2

    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: 'true'

    # This requires the go mod tidy to not look at the go proxy
    - name: Go proxy direct
      run: GOPROXY=direct

    - uses: zencargo/github-action-go-mod-tidy@v1
      with:
        go-version: 1.19.2

    - name: Cache build output
      uses: actions/cache@v2
      with:
        path: |
              ~/.cache/go-build
              ~/go/pkg/mod
        key: v1-go-pkg-mod-${{ runner.os }}-${{ hashFiles('**/go.sum') }}

    - name: Test
      run: make test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        verbose: true

    - name: Build
      run: make build