name: build-and-test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            cachepath: |
              ~/.cache/go-build
              ~/go/pkg/mod
              /home/runner/.cache/go-build
          - os: macos-latest
            cachepath: |
              ~/Library/Caches/go-build
              ~/go/pkg/mod
              /Users/runner/Library/Caches/go-build
    steps:  

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ~1.15.15
      id: go

    - name: Configure git with longpath enabled (for windows)
      run: git config --global core.longpaths true

    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: 'true'

    - name: Debug go.mod
      run: cat go.mod

    - name: Cache build output
      uses: actions/cache@v2
      with:
        path: ${{ matrix.cachepath }}
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Test
      run: make test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        verbose: true

    - name: Build
      run: make build
