# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT

name: Reusable EC2 Integration Test

env:
  PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY  }}
  KEY_NAME: ${{ secrets.KEY_NAME }}
  TERRAFORM_AWS_ASSUME_ROLE_DURATION: 14400 # 4 hours

on:
  workflow_call:
    inputs:
      build_id:
        required: true
        type: string
      test_repo_name:
        required: true
        type: string
      test_repo_url:
        required: true
        type: string
      test_repo_branch:
        required: true
        type: string
      test_dir:
        required: true
        type: string
      job_id:
        required: true
        type: string
      test_props:
        required: true
        type: string
      localstack_host:
        type: string
      region:
        type: string
      terraform_assume_role:
        type: string
      is_selinux_test:
        type: boolean
      s3_integration_bucket:
        type: string

jobs:
  EC2IntegrationTest:
    name: ${{matrix.arrays.testName}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arrays: ${{ fromJson(inputs.test_props) }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{inputs.test_repo_name}}
          ref: ${{inputs.test_repo_branch}}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.terraform_assume_role }}
          aws-region: ${{inputs.region}}
          role-duration-seconds: ${{ env.TERRAFORM_AWS_ASSUME_ROLE_DURATION }}

      - name: Echo Test Info
        run: |
          echo run cache_if_success os ${{ matrix.arrays.os }} arc ${{ matrix.arrays.arc }} test dir ${{ matrix.arrays.test_dir }}
          echo localstack input ${{ inputs.localstack_host }}

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.12.0

      - name: Verify Terraform version
        run: terraform --version

      # Add this step to enable IPv6 via Cloudflare Warp
      - name: Setup Cloudflare Warp for IPv6
        uses: fscarmen/warp-on-actions@v1.3
        with:
          stack: dual  # Enables both IPv4 and IPv6 (default is dual, but explicit for clarity)

      # nick-fields/retry@v2 starts at base dir
      - name: Terraform apply
        uses: nick-fields/retry@v2
        with:
          max_attempts: 2
          timeout_minutes: 60
          retry_wait_seconds: 5
          command: |
            if [ "${{ matrix.arrays.terraform_dir }}" != "" ]; then
              cd "${{ matrix.arrays.terraform_dir }}"
            else
              cd ${{inputs.test_dir}}
            fi

            terraform init
            if terraform apply --auto-approve \
              -var="agent_start=${{ matrix.arrays.agentStartCommand }}" \
              -var="ami=${{ matrix.arrays.ami }}" \
              -var="arc=${{ matrix.arrays.arc }}" \
              -var="binary_name=${{ matrix.arrays.binaryName }}" \
              -var="ca_cert_path=${{ matrix.arrays.caCertPath }}" \
              -var="cwa_github_sha=${{inputs.build_id}}" \
              -var="ec2_instance_type=${{ matrix.arrays.instanceType }}" \
              -var="excluded_tests='${{ matrix.arrays.excludedTests }}'" \
              -var="github_test_repo=${{ inputs.test_repo_url }}" \
              -var="github_test_repo_branch=${{inputs.test_repo_branch}}" \
              -var="install_agent=${{ matrix.arrays.installAgentCommand }}" \
              -var="is_selinux_test=${{ inputs.is_selinux_test }}" \
              -var="selinux_branch=${{ matrix.arrays.selinux_branch }}" \
              -var="local_stack_host_name=${{ inputs.localstack_host }}" \
              -var="plugin_tests='${{ github.event.inputs.plugins }}'" \
              -var="region=${{ inputs.region }}" \
              -var="s3_bucket=${{ inputs.s3_integration_bucket }}" \
              -var="selinux_branch=${{ matrix.arrays.selinux_branch }}" \
              -var="ssh_key_name=${{env.KEY_NAME}}" \
              -var="ssh_key_value=${{env.PRIVATE_KEY}}" \
              -var="test_dir=${{ matrix.arrays.test_dir }}" \
              -var="test_name=${{ matrix.arrays.os }}" \
              -var="user=${{ matrix.arrays.username }}"; then
              terraform destroy -var="region=${{ inputs.region }}" -var="ami=${{ matrix.arrays.ami }}" -auto-approve
            else
              terraform destroy -var="region=${{ inputs.region }}" -var="ami=${{ matrix.arrays.ami }}" -auto-approve && exit 1
            fi
      #This is here just in case workflow cancel
      - name: Terraform destroy
        if: ${{ cancelled() || failure() }}
        uses: nick-fields/retry@v2
        with:
          max_attempts: 2
          timeout_minutes: 8
          retry_wait_seconds: 5
          command: |
            if [ "${{ matrix.arrays.terraform_dir }}" != "" ]; then
              cd "${{ matrix.arrays.terraform_dir }}"
            else
              cd ${{inputs.test_dir}}
            fi

            terraform destroy -lock-timeout=5m -var="region=${{ inputs.region }}" -var="ami=${{ matrix.arrays.ami }}" --auto-approve