name: Run Integration Tests
env:
  PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY  }}
  TERRAFORM_AWS_ACCESS_KEY_ID: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
  TERRAFORM_AWS_SECRET_ACCESS_KEY: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  MakeBinary:
    name: 'MakeBinary'
    runs-on: ubuntu-latest
    steps:
      # Set up building environment, patch the dev repo code on dispatch events.
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ~1.15.15

      - name: Install rpm
        run: sudo apt install rpm

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Cache go
        id: cached_go
        uses: actions/cache@v2
        env:
          cache-name: cached_go_modules
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: v1-go-pkg-mod-${{ hashFiles('**/go.sum') }}

      - name: Cache binaries
        id: cached_binaries
        uses: actions/cache@v2
        with:
          key: "cached_binaries_${{ github.sha }}"
          path: build

      - name: Build Binaries
        if: steps.cached_binaries.outputs.cache-hit != 'true'
        run: make build package-rpm package-deb package-win

      - name: Upload to s3
        if: steps.cached_binaries.outputs.cache-hit != 'true'
        run: aws s3 cp build/bin s3://cloudwatch-agent-integration-bucket/integration-test/binary/${{ github.sha }} --recursive

  MakeMSIZip:
    name: 'MakeMSIZip'
    runs-on: ubuntu-latest
    needs: [MakeBinary]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ~1.15.15

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Cache win zip
        id: cached_win_zip
        uses: actions/cache@v2
        with:
          key: "cached_win_zip_${{ github.sha }}"
          path: buildMSI.zip

      - name: Copy binary
        if: steps.cached_win_zip.outputs.cache-hit != 'true'
        run: |
          aws s3 cp s3://cloudwatch-agent-integration-bucket/integration-test/binary/${{ github.sha }} . --recursive

      - uses: montudor/action-zip@v1
        with:
          args: unzip -qq windows/amd64/amazon-cloudwatch-agent.zip -d windows-agent

      - name: Create msi dep folder and copy deps
        run: |
          export version=$(cat CWAGENT_VERSION)
          echo cw agent version $version
          mkdir msi_dep
          cp -r integration/msi/tools/. msi_dep/
          cp -r windows-agent/amazon-cloudwatch-agent/. msi_dep/
          go run integration/msi/tools/msiversion/msiversionconverter.go $version msi_dep/amazon-cloudwatch-agent.wxs '<version>' --tags=integration
          go run integration/msi/tools/msiversion/msiversionconverter.go $version msi_dep/manifest.json __VERSION__ --tags=integration

      - uses: papeloto/action-zip@v1
        if: steps.cached_win_zip.outputs.cache-hit != 'true'
        with:
          files: msi_dep/
          dest: buildMSI.zip

      - name: Upload zip
        if: steps.cached_win_zip.outputs.cache-hit != 'true'
        run: aws s3 cp buildMSI.zip s3://cloudwatch-agent-integration-bucket/integration-test/packaging/${{ github.sha }}/buildMSI.zip

  BuildMSI:
    name: 'BuildMSI'
    runs-on: windows-latest
    needs: [MakeMSIZip]
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Cache msi
        id: cached_msi
        uses: actions/cache@v2
        with:
          key: "cached_msi_${{ github.sha }}"
          path: buildMSI/amazon-cloudwatch-agent.msi

      - name: Copy msi
        if: steps.cached_msi.outputs.cache-hit != 'true'
        run: aws s3 cp s3://cloudwatch-agent-integration-bucket/integration-test/packaging/${{ github.sha }}/buildMSI.zip .

      - name: Create msi
        if: steps.cached_msi.outputs.cache-hit != 'true'
        run : |
          curl -OLS https://github.com/wixtoolset/wix3/releases/download/wix3111rtm/wix311.exe
          .\wix311.exe /install /quiet /norestart
          $wixToolsetBinPath = ";C:\Program Files (x86)\WiX Toolset v3.11\bin;"
          $env:PATH = $env:PATH + $wixToolsetBinPath
          Expand-Archive buildMSI.zip -Force
          cd buildMSI
          .\create_msi.ps1 ${{ github.sha }}

  StartLocalStack:
    name: 'StartLocalStack'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: integration/terraform/ec2/localstack
    outputs:
      local_stack_host_name: ${{ steps.localstack.outputs.local_stack_host_name }}
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Verify Terraform version
        run: terraform --version

      - name: Terraform init
        run: terraform init

      - name: Terraform apply
        id: localstack
        run: >
          echo run terraform and execute test code &&
          terraform apply --auto-approve
          -var="ssh_key=${PRIVATE_KEY}"
          -var="github_repo=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}.git"
          -var="github_sha=${GITHUB_SHA}" &&
          LOCAL_STACK_HOST_NAME=$(terraform output -raw public_dns) &&
          echo $LOCAL_STACK_HOST_NAME &&
          echo "::set-output name=local_stack_host_name::$LOCAL_STACK_HOST_NAME" &&
          aws s3 cp terraform.tfstate s3://cloudwatch-agent-integration-bucket/integration-test/local-stack-terraform-state/${GITHUB_SHA}/terraform.tfstate

  EC2LinuxIntegrationTest:
    needs: [MakeBinary, StartLocalStack]
    name: 'EC2LinuxIntegrationTest'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: integration/terraform/ec2/linux
    strategy:
      fail-fast: false
      matrix:
        arrays: [
          { os: "ubuntu", package: "package-deb",  username: "ubuntu",
            installAgentCommand: "dpkg -i -E ./amazon-cloudwatch-agent.deb",
            ami: "cloudwatch-agent-integration-test-ubuntu*", caCertPath: "/etc/ssl/certs/ca-certificates.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.deb" },
          { os: "al2", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-al2*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "rhel8", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-rhel8-base*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "rhel8-1", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-rhel8-1*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "rhel8-2", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-rhel8-2*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "rhel8-3", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-rhel8-3*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "rhel8-4", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-rhel8-4*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "ol8-1", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-ol8-1*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "ol8-2", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-ol8-2*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "o8-3", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-ol8-3*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" },
          { os: "ol8-4", package: "package-rpm",  username: "ec2-user",
            installAgentCommand: "rpm -U ./amazon-cloudwatch-agent.rpm",
            ami: "cloudwatch-agent-integration-test-ol8-4*", caCertPath: "/etc/ssl/certs/ca-bundle.crt",
            arc: "amd64", binaryName: "amazon-cloudwatch-agent.rpm" }
        ]
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Cache if success
        id: ec2-linux-integration-test
        uses: actions/cache@v2
        with:
          path: |
            RELEASE_NOTES
          key: ec2-linux-integration-test-${{ github.sha }}-${{ matrix.arrays.os }}

      - name: Echo OS
        run: echo run on ec2 instance os ${{ matrix.arrays.os }}

      - name: Verify Terraform version
        run: terraform --version

      - name: Terraform init
        run: terraform init

      - name: Terraform apply
        if: steps.ec2-linux-integration-test.outputs.cache-hit != 'true'
        run: >
          echo run terraform and execute test code &&
          terraform apply --auto-approve
          -var="ssh_key=${PRIVATE_KEY}"
          -var="github_repo=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}.git"
          -var="github_sha=${GITHUB_SHA}"
          -var="package=${{ matrix.arrays.package }}"
          -var="install_agent=${{ matrix.arrays.installAgentCommand }}"
          -var="user=${{ matrix.arrays.username }}"
          -var="ami=${{ matrix.arrays.ami }}"
          -var="ca_cert_path=${{ matrix.arrays.caCertPath }}"
          -var="arc=${{ matrix.arrays.arc }}"
          -var="binary_name=${{ matrix.arrays.binaryName }}"
          -var="local_stack_host_name=${{ needs.StartLocalStack.outputs.local_stack_host_name }}"
      - name: Terraform destroy
        if: ${{ always() && steps.ec2-linux-integration-test.outputs.cache-hit != 'true' }}
        run: >
          terraform destroy --auto-approve
          -var="ami=${{ matrix.arrays.ami }}"

  StopLocalStack:
    name: 'StopLocalStack'
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: [StartLocalStack, EC2LinuxIntegrationTest]
    defaults:
      run:
        working-directory: integration/terraform/ec2/localstack
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Copy state
        run: aws s3 cp s3://cloudwatch-agent-integration-bucket/integration-test/local-stack-terraform-state/${GITHUB_SHA}/terraform.tfstate .

      - name: Verify Terraform version
        run: terraform --version

      - name: Terraform init
        run: terraform init

      - name: Terraform destroy
        run: terraform destroy --auto-approve