name: Upload Nightly Binaries

on:
  schedule:
    - cron: '0 0 * * *' # run at mid night
  workflow_dispatch:

jobs:

  build:
    name: Upload Nightly Binaries
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ~1.19.2
        id: go

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.S3_AWS_ASSUME_ROLE }}
          aws-region: us-east-1

      #Need to install rpm so ubuntu can make rpm by default ubuntu can make deb
      - name: Install rpm
        run: sudo apt install rpm

      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Release
        run: make nightly-release

      - name: Upload to S3
        run: aws s3 cp build/bin s3://amazoncloudwatch-agent/nightly-build/latest/ --recursive --acl public-read --source-region us-east-1
