name: Update OTel fork components version

env:
  UPSTREAM: https://github.com/amazon-contributing/opentelemetry-collector-contrib.git
  UPSTREAM_BRANCH: aws-cwa-dev

on:
  workflow_dispatch:
    inputs:
      CommitSha:
        description: "Commit sha to point the OTel fork components to"
        required: false
        type: string
        default: ''

jobs:
  update-components:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Get latest commit sha
        id: get-latest-commit
        run: |
          if ["${{ inputs.CommitSha }}" == ""]; then
            echo "sha=$(git ls-remote ${{ env.UPSTREAM }} ${{ env.UPSTREAM_BRANCH }} | awk '{print $1;}')" >> $GITHUB_OUTPUT
          else
            echo "sha=${{ inputs.CommitSha }}" >> $GITHUB_OUTPUT
          fi
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: ~1.25
          cache: false
      - name: Update OTel fork components version
        id: set-matrix
        run: |
          git config --global user.name 'Github Action'
          git config --global user.email 'action@github.com'
          git checkout -b otel-fork-replace-${{ steps.get-latest-commit.outputs.sha }}
          scripts/update-otel-deps.sh ${{ steps.get-latest-commit.outputs.sha }}
          git commit -am "Update OTel fork components to https://github.com/amazon-contributing/opentelemetry-collector-contrib/commit/${{ steps.get-latest-commit.outputs.sha }}"
          git push -u origin HEAD
          git config --global --unset user.name
          git config --global --unset user.email
      - name: Create pull request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: otel-fork-replace-${{ steps.get-latest-commit.outputs.sha }}
          destination_branch: main
          pr_title: "Update OTel fork components to ${{ steps.get-latest-commit.outputs.sha }}"
          pr_allow_empty: false
          pr_body: |
            # Description of the issue
            An automated PR to update the OTel fork components to point to [${{ steps.get-latest-commit.outputs.sha }}](https://github.com/amazon-contributing/opentelemetry-collector-contrib/commit/${{ steps.get-latest-commit.outputs.sha }}).
            
            # License
            By submitting this pull request, I confirm that you can use, modify, copy, and redistribute this contribution, under the terms of your choice.
            
            # Tests
            n/a
            
            # Requirements
            _Before commit the code, please do the following steps._
            1. Run `make fmt` and `make fmt-sh`
            2. Run `make lint`
