# disable this workflow after beta phase
name: Sync with upstream

on:
  schedule:
  - cron:  "0 0 * * 0" # every sunday at 12AM
  workflow_dispatch:

env:
  RUN_ID: "${{ github.run_number }}.${{ github.run_attempt }}"
  UPSTREAM: "https://github.com/aws/amazon-cloudwatch-agent.git"

jobs:
  # gets the last commit hash from public/master and defines the branch name
  # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idoutputs
  define-branch-name:
    runs-on: ubuntu-latest
    steps:
    - name: Get last commit hash from public
      id: get-last-commit
      run: echo "hash=$(git ls-remote ${{ env.UPSTREAM }} HEAD | awk '{print $1;}')" >> $GITHUB_OUTPUT
    outputs:
      LAST_COMMIT: ${{ steps.get-last-commit.outputs.hash }}
      PR_BRANCH: "repo-sync-${{ steps.get-last-commit.outputs.hash }}-${{ env.RUN_ID }}"

  # pushes the latest from public/main to private/repo-sync
  # https://github.com/marketplace/actions/github-repo-sync
  create-branch:
    needs: define-branch-name
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false
    - name: repo-sync
      uses: repo-sync/github-sync@v2
      with:
        source_repo: ${{ env.UPSTREAM }}
        source_branch: "main"
        destination_branch: ${{ needs.define-branch-name.outputs.PR_BRANCH }}
        github_token: ${{ secrets.WILLIAZZ_PAT }}

  # upon create-branch completion, creates a PR from private/repo-sync to private/main
  # https://github.com/marketplace/actions/github-pull-request-action
  create-pr:
    needs: [define-branch-name, create-branch]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        source_branch: ${{ needs.define-branch-name.outputs.PR_BRANCH }}
        destination_branch: "main"
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pr_title: "Automated sync with upstream - last commit ${{ needs.define-branch-name.outputs.LAST_COMMIT }} - run #${{ env.RUN_ID }}"
        pr_template: ".github/repo_sync_pr_template.md"
        pr_allow_empty: false
