# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT

name: Build And Upload Docker Image
env:
  CWA_GITHUB_TEST_REPO_NAME: "aws/amazon-cloudwatch-agent-test"

on:
  workflow_dispatch:
    inputs:
      ContainerRepositoryNameAndTag:
        # e.g. "cwagent-integration-test:SHA"
        # e.g. "cwa-release:latest"
        # e.g. "cwa_nonprod:latest"
        description: "ECR repo name and tag"
        required: true
        type: string
      BucketKey:
        # e.g. s3://<bucket>/integration-test/binary/<SHA>"
        # e.g. s3://<bucket>/nonprod
        # e.g. s3://<bucket>/release
        description: "S3 URI to upload artifacts into."
        required: true
        type: string
      PackageBucketKey:
        description: "Integration tests put the MSI and PKG in a different bucket path than the binaries."
        required: true
        type: string
  workflow_call:
    inputs:
      ContainerRepositoryNameAndTag:
        # e.g. "cwagent-integration-test:SHA"
        # e.g. "cwa-release:latest"
        # e.g. "cwa_nonprod:latest"
        description: "ECR repo name and tag"
        required: true
        type: string
      BucketKey:
        # e.g. s3://<bucket>/integration-test/binary/<SHA>"
        # e.g. s3://<bucket>/nonprod
        # e.g. s3://<bucket>/release
        description: "S3 URI to upload artifacts into."
        required: true
        type: string
      PackageBucketKey:
        description: "Integration tests put the MSI and PKG in a different bucket path than the binaries."
        required: true
        type: string

jobs:
  MakeBinary:
    name: 'MakeBinary'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.TERRAFORM_AWS_ASSUME_ROLE }}
          aws-region: us-west-2

      - name: Cache container
        id: cached_container
        uses: actions/cache@v3
        with:
          key: "cached_container_${{ github.sha }}"
          path: go.mod

      - name: Login ECR
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_container.outputs.cache-hit == false
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_container.outputs.cache-hit == false
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_container.outputs.cache-hit == false
        uses: docker/setup-qemu-action@v3

      # Build dir is ignored in our .dockerignore thus need to copy to another dir.
      - name: Copy Binary For Agent Image Build
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_container.outputs.cache-hit == false
        run: |
          mkdir amd64
          mkdir arm64
          aws s3 cp s3://${{ secrets.S3_INTEGRATION_BUCKET }}/${{ inputs.BucketKey }}/linux/amd64/amazon-cloudwatch-agent.deb amd64/amazon-cloudwatch-agent.deb
          aws s3 cp s3://${{ secrets.S3_INTEGRATION_BUCKET }}/${{ inputs.BucketKey }}/linux/arm64/amazon-cloudwatch-agent.deb arm64/amazon-cloudwatch-agent.deb

      - name: Get ECR Repo name
        id: repo_name
        env:
          ContainerRepositoryNameAndTag: ${{ inputs.ContainerRepositoryNameAndTag }}
        run: |
          RepoName=`echo $ContainerRepositoryNameAndTag | awk -F: '{print $1}'`
          echo "::set-output name=ContainerRepositoryName::$RepoName"

      - name: Build Cloudwatch Agent Image amd64
        uses: docker/build-push-action@v6
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_container.outputs.cache-hit == false
        with:
          file: amazon-cloudwatch-container-insights/cloudwatch-agent-dockerfile/localdeb/Dockerfile
          context: .
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ steps.repo_name.outputs.ContainerRepositoryName }}:linux-amd64
          platforms: linux/amd64

      - name: Build Cloudwatch Agent Image arm64
        uses: docker/build-push-action@v6
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_container.outputs.cache-hit == false
        with:
          file: amazon-cloudwatch-container-insights/cloudwatch-agent-dockerfile/localdeb/Dockerfile
          context: .
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ steps.repo_name.outputs.ContainerRepositoryName }}:linux-arm64
          platforms: linux/arm64

  CreateContainerManifest:
    name: 'CreateManifest'
    needs: ['MakeBinary']
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install rpm
        run: sudo apt install rpm

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.TERRAFORM_AWS_ASSUME_ROLE }}
          aws-region: us-west-2

      - name: Login ECR
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_binaries.outputs.cache-hit == false
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_binaries.outputs.cache-hit == false
        uses: docker/setup-buildx-action@v3

      - name: Get ECR Repo name
        id: repo_name
        env:
          ContainerRepositoryNameAndTag: ${{ inputs.ContainerRepositoryNameAndTag }}
        run: |
          RepoName=`echo $ContainerRepositoryNameAndTag | awk -F: '{print $1}'`
          echo "::set-output name=ContainerRepositoryName::$RepoName"

      - name: Create manifest and push
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          OrigREPOSITORY: ${{ inputs.ContainerRepositoryNameAndTag }}
          REPOSITORY: ${{ steps.repo_name.outputs.ContainerRepositoryName }}
          REPOSITORYWindows: ${{ steps.repo_name.outputs.ContainerRepositoryName }}:windows
          REPO2022: ${{ steps.repo_name.outputs.ContainerRepositoryName }}:2022
          REPO2019: ${{ steps.repo_name.outputs.ContainerRepositoryName }}:2019
          REPOLinuxAmd: ${{ steps.repo_name.outputs.ContainerRepositoryName }}:linux-amd64
          REPOLinuxArm: ${{ steps.repo_name.outputs.ContainerRepositoryName }}:linux-arm64
        if: contains(inputs.BucketKey, 'test') == false || steps.cached_binaries.outputs.cache-hit == false
        run: |
          docker manifest create $REGISTRY/$REPOSITORYWindows --amend $REGISTRY/$REPO2022 --amend $REGISTRY/$REPO2019
          docker manifest push $REGISTRY/$REPOSITORYWindows

          docker buildx imagetools inspect --raw $REGISTRY/$REPOLinuxAmd | jq '.manifests[0]' > linux-amd.json
          docker buildx imagetools inspect --raw $REGISTRY/$REPOLinuxArm | jq '.manifests[0]' > linux-arm.json
          docker buildx imagetools inspect --raw $REGISTRY/$REPOSITORYWindows | jq '.manifests[0]' > 2019.json
          docker buildx imagetools inspect --raw $REGISTRY/$REPOSITORYWindows | jq '.manifests[1]' > 2022.json

          docker buildx imagetools create -f linux-amd.json -f linux-arm.json -f 2019.json -f 2022.json --tag $REGISTRY/$OrigREPOSITORY
